<form [formGroup] = 'registerform' (ngSubmit)="onSubmit()">
<input type="text" placeholder="name" formControlName="name">
<p *ngIf="registerform.controls.name.errors?.required">Name is required</p>
<p *ngIf="registerform.controls.name.errors?.pattern"> Only characters can be used</p>
<input type="text" placeholder="id" formControlName="id">
<p *ngIf="registerform.controls.id.errors?.required">id is required</p>
<input type="text" placeholder="email" formControlName="email">
<p *ngIf="registerform.controls.email.errors?.required">Email is required</p>
<p *ngIf="registerform.controls.email.errors?.email"> Enter correct pattern for email </p>
<input type="text" placeholder="number" maxLength="10" formControlName="number">
<p *ngIf="registerform.controls.number.errors?.required">Number is required</p>
<p *ngIf="registerform.controls.number.errors?.pattern">Number should be of 10 numerics only</p>
<input type="text" placeholder="password" formControlName="password">
<p *ngIf="registerform.controls.password.errors?.required">password is required</p>
<p *ngIf="registerform.controls.password.errors?.pattern">password pattern should be followed</p>
<button>Register</button>
</form>